<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur mon super site de gossip!</h1>
    <h2>Amuse-toi bien et dépose le tien!</h2>
    <a href="/gossips/new/">Crée ton gossip ici</a>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>
  </body>
</html>
